<table class="table">
	<tbody>
		<tr>
			<td>
				<form action="/{{ params.locale }}/tasks.json" method="post" data-remote="true">
					<input class="form-control" type="text" name="name" placeholder="{{ l.placeholders.name }}">
				</td>
				<td>
					<input class="btn btn-outline-primary" type="submit" value="{{ l.buttons.create }}">
				</form>
			</td>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>
					<a href="/{{ params.locale }}/tasks/{{ task._id }}"> {{ task.name | strip_html }} </a>
				</td>
				<td>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>